/* These css rules are used to change the colors of the quill editor in light mode vs dark mode.
Quill.js does not seem to have a dark mode in their predefined css */
#editor {
  height: 400px;
}

.ql-container.ql-snow,
.ql-picker-label {
  color: var(--main-text);
}

.ql-editor {
  background-color: var(main-background);
  color: var(--main-text);
}

.ql-toolbar.ql-snow {
  background-color: var(main-background);
  border-color: #555;
}

.ql-toolbar.ql-snow .ql-stroke {
  stroke: var(--main-text);
}

.ql-toolbar.ql-snow .ql-fill {
  fill: var(--main-text);
}

.ql-editor img {
  display: inline-block;
  max-width: none;
}

/* 1. The Container: Make the wrapper behave like a block so it can be centered */
.ql-image-align-center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.ql-image-align-left {
  display: inline;
  float: left;
  margin-right: 1em;
}

.ql-image-align-right {
  display: inline;
  float: right;
  margin-left: 1em;
}

.ql-editor table {
  border-collapse: collapse;
  width: 100%;
}
.ql-editor td {
  border: 1px solid #000 !important;
  min-width: 20px;
  height: 20px;
}

/* 2. The Image: Ensure the image inside the span obeys the centering */
.ql-image-align-center img {
  display: inline-block;
}

/* 3. Clearfix: Prevents floated images from breaking the editor layout */
.ql-editor::after {
  content: "";
  display: table;
  clear: both;
}

#output table {
  background-color: transparent;
  width: 100%;
  color: var(--main-text) !important;
}

#output table td {
  padding: 10px;
}

.ql-editor table {
  border-collapse: collapse;
  width: 100%;
}

.ql-editor td {
  border: 1px solid #ccc; /* Visible borders */
  padding: 5px;
  min-height: 20px;
}